<template>
  <div>
    <label class="product-search__label" for="filter-input">Search for products to add</label>
    <div class="product-search__filter">
      <input class="product-search__filter-input"
             id="filter-input"
             type="text"
             @focus="showList()"
             @blur="hideList()"
             placeholder="Search products"
              v-model="filter">
      <ul class="product-search__filter-list"
          :class="{'product-search__filter-list--hidden': hiddenList}">
        <li v-for="(product, k) in filteredProducts"
            :key="k" @click="setActiveItem(product.id)"
            class="product-search__filter-list-item"
            :class="{'product-search__filter-list-item--active': product.id === productId}">
          {{product.name}}
        </li>
      </ul>
      <label class="hidden">Quantity</label>
      <input type="number" min="1" v-model="qty">
      <button @click="addItem()">Add product</button>
      <input type="hidden" name="items" :value="selectedProducts">
    </div>
  </div>
</template>

<script>
import Vue from 'vue';

export default Vue.component('ProductTable', {
  data: () => ({
    filter: '',
    hiddenList: true,
    product: null,
    productId: null,
    qty: 1,
  }),
  methods: {
    showList() {
      this.filter = '';
      this.hiddenList = false;
    },
    hideList() {
      setTimeout(() => {
        this.hiddenList = true;
      }, 100); // 100ms delay needed to register the 'setActiveItem' method if needed
    },
    setActiveItem(id) {
      this.productId = id;
      this.product = this.products.find(product => product.id === id);
      this.filter = this.product.name;
    },
    addItem() {
      if (typeof this.productId === 'number') {
        if (!this.selectedProducts.find(product => product.id === this.productId)) {
          this.selectedProducts.push({
            ...this.product,
            qty: this.qty,
          });
          this.qty = 1;
        }
      }
    },
  },
  computed: {
    filteredProducts() {
      // return all products to start and after 3 type, begin filtering
      if (this.filter.length > 2 && this.products) {
        return this.products.filter(
          product => (
            // name contains
            product.name.indexOf(this.filter) !== -1
            // ref contains
            || product.ref.indexOf(this.filter.toUpperCase()) !== -1
          ),
        );
      }
      return this.products;
    },
  },
  directives: {},
});
</script>

<style lang="less">
  .hidden {
    display: block;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px);
    white-space: nowrap;
    position: absolute;
  }
  .product-search {
    &__label {
      display: block;
    }
    &__filter {
      display: inline-block;
      position: relative;
      &-list {
        background: #eaeaea;
        cursor: pointer;
        left: 0;
        list-style-type: none;
        padding: 1.2rem 0.8rem;
        max-height: 200px;
        overflow-y: scroll;
        position: absolute;
        right: 0;
        top: 1.2rem;
        width: 100%;

        &--hidden {
          display: none;
        }
      }
      &-list-item {
        &--active {
          background: black;
          color: white;
        }
        &:hover {
          background: #888888;
        }
      }
    }
    &__form {
      display: inline-block;
    }
  }
</style>
