<template>
  <table>
    <thead>
    <tr>
      <th>No.</th>
      <th>Ref.</th>
      <th>Name</th>
      <th>Qty.</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(product, i) in selectedProducts" :key="i">
      <td>{{ product.id }}</td>
      <td>{{ product.ref }}</td>
      <td>{{ product.name }}</td>
      <td>
        <input type="number" min="1" step="1" v-model="product.qty">
      </td>
      <td>
        <button @click="removeItem(product.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</template>

<script>
import Vue from 'vue';

export default Vue.component('ProductSearch', {});
</script>

<style lang="less" scoped>
  table {
    width: 100%;
  }
  thead {
    background: #e8e8e8;
  }
  th, td {
    text-align: center;
  }
  tr {
    &:nth-of-type(even) {
      background: #ffe4df;
    }
  }
</style>
