<template>
  <div id="app">
    <ProductTable></ProductTable>
    <ProductSearch></ProductSearch>
  </div>
</template>

<script>
import ProductTable from '@/components/ProductTable/index.vue';
import ProductSearch from '@/components/ProductSearch/index.vue';

export default {
  name: 'app',
  components: {
    ProductTable,
    ProductSearch,
  },
};
</script>

<style lang="less">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
